{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Antony Kigali</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="./static/img/Kigale logo.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">



    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <style>
        body {
            background-color: #1e1d1d;
            color: #ffffff;
            
            
        }

        h1{
        font-family: 'Lobster', cursive;
}
          
          
        .navbar-dark .navbar-nav .nav-link {
            color: #ffffff;
        }
        
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #ffffff;
            opacity: 0.75;
        }
    </style>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="text-primary fw-bold m-0">Antony Kigale</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#skill" class="nav-item nav-link">Skills</a>
                <a href="#service" class="nav-item nav-link">Services</a>
            </div>
            <a href="#home" class="navbar-brand px-4 mx-3 d-none d-lg-block" style="max-width: 200px;">
                <img src="./static/img/Kigale logo.png" alt="Antony Logo" class="img-fluid" style="max-width: 100%; height: auto;">
              </a>
            <div class="navbar-nav me-auto py-0">
            
                <a href="#team" class="nav-item nav-link">Portfolio</a>
                <a href="#testimonial" class="nav-item nav-link">Testimonial</a>
                <a href="#contact"  class="btn btn-primary py-3 px-5 mt-3" href="">Email Me</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- message popup -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

    <!-- message popup -->
    
    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center ">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 style="font-family: 'Great Vibes', cursive;" class="text-primary display-5 mb-3">Hello, I'm</h3>
                    <h1 class="text-light display-1 mb-3">Antony  kigali</h1>
                    <h2 class="typed-text-output text-secondary"></h2>
                    <div class="typed-text d-none">Executive Chef, Patry Chef, Saucier, </div>
                    <div class="d-flex align-items-center pt-5">
                        <a target="_blank" href=" https://docs.google.com/document/d/1sCnjnZbBoUbNAGDmkeBmxPzKTJ1juttcb9smSykAVgg/edit?usp=sharing" class="btn btn-primary py-3 px-2  me-3">Download CV</a>
                        <!-- <a href="tel:+254714548116" class="btn btn-primary py-3 px-2 me-3">Hire Me</a> -->
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/watch?v=zThPT9KnoQs&pp=ygUFY2hlZiA%3D" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <!-- <h5 class="ms-4 mb-0 d-none d-sm-block">Play Video</h5> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <img style="filter: contrast(250%);filter: brightness(27%);" class="img-fluid" src="{% static 'img/chef2.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Chef  Antony kigali</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
    <!-- JavaScript code -->
<script>
    var modal = document.getElementById('videoModal');
    modal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var videoSrc = button.getAttribute('data-src');
        var iframe = modal.querySelector('#video');
        iframe.setAttribute('src', videoSrc);
    });
</script>


    <!-- About Start -->
    <div class="bg-dark container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                            <h1 style="color: #987201 !important;" class="display-1 mb-0">20</h1>
                            <h5 style="color: #46029f  !important;"  class="mb-0">Years</h5>
                        </div>
                        <h3 style="color: #ffffff !important;" class="lh-base mb-0">of working experience as a Chef</h3>
                    </div>
                    <p class="mb-4"> I am a trailblazing chef who tantalizes taste buds with inventive flavor profiles, exquisitely plated masterpieces, and an unwavering dedication to sourcing the freshest, highest-quality ingredients.</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Afordable Prices</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Attention to detail</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>On Time Delivery</p>
                    <button class="btn btn-primary py-3 px-5 mt-3" onclick="callPhoneNumber('+254714548116')">Hire Me</button>

<script>
function callPhoneNumber(phoneNumber) {
  window.location.href = 'tel:' + phoneNumber;
}
</script>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="{% static 'img/indoor.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="{% static 'img/outdoor.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <h5 style="color: #987201 !important;" class="border-end pe-3 me-3 mb-0">Happy Clients</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">1234</h2>
                    </div>
                    <p class="mb-4">I ensure client satisfaction through personalized culinary experiences, attentive service, and a genuine passion for creating memorable moments through food.</p>
                    <div class="d-flex align-items-center mb-3">
                        <h5 style="color: #987201 !important;" class="border-end pe-3 me-3 mb-0">Projects Completed</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">1034</h2>
                    </div>
                    <p class="mb-0">I guarantee the seamless completion of projects by meticulously planning, coordinating resources, and maintaining open communication channels, ensuring every detail is executed with precision and efficiency.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Expertise Start -->
    <div class="container-xxl py-6 pb-5" id="skill">
        <div class="bg-dark container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 style="color: #987201 !important;" class="display-5 mb-5">Skills & Experience</h1>
                    <p class="mb-4">
                        I harness my honed skills to elevate every aspect of my craft, infusing dishes with artistry, technique, and a deep understanding of flavor profiles. From precise knife work to impeccable timing, my skills are the foundation of exceptional culinary creations..</p>
                    <h3 style="color: #46029f !important;" class="mb-4">My Skills</h3>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 style="color: #ffffff !important;" class="font-weight-bold">Menu Design</h6>
                                    <h6 style="color: #987201;"class="font-weight-bold">95%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 style="color: #ffffff !important;"class="font-weight-bold">Management skills</h6>
                                    <h6 style="color: #987201;" class= "font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 style="color: #ffffff !important;"class="font-weight-bold">Culinary skills</h6>
                                    <h6 style="color: #987201;"class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 style="color: #ffffff !important;"class="font-weight-bold">Communication skills</h6>
                                    <h6 style="color: #987201;"class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 style="color: #ffffff !important;"class="font-weight-bold">Computer literacy</h6>
                                    <h6 style="color: #987201;"class="font-weight-bold">95%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 style="color: #ffffff !important;"class="font-weight-bold">Researching skills</h6>
                                    <h6 style="color: #987201;"class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                        <li class="nav-item w-50">
                            <button style="color: #ffffff;" class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Experience</button>
                        </li>
                        <li class="nav-item w-50">
                            <button style="color: #ffffff;" class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Education</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Head Chef</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">Jan 2023 - Current</p>
                                    <h6 style="color: #ffffff;"class="mb-0">Allure Lounge</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Head Chef</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">Feb 2022 - Feb 2023</p>
                                    <h6 style="color: #ffffff;"class="mb-0">Embassy Residence - S/Sudan</h6>
                                </div>
                                
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Head Chef</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">Nov 2018 - April 2021</p>
                                    <h6 style="color: #ffffff;" class="mb-0">I.C.R.C. catering department</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Trainer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">July - Nov 2018</p>
                                    <h6 style="color: #ffffff;"class="mb-0">2018 July to November 2018	Ollolua  Resort</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Product Designer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2014  - 2018</p>
                                    <h6 style="color: #ffffff;"class="mb-0">Emeli Hotel </h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Head Chef</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2000 - 2045</p>
                                    <h6 style="color: #ffffff;"class="mb-0">Apex Software Inc</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Head Chef</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2010 - 2014 </p>
                                    <h6 style="color: #ffffff;"class="mb-0">Sahara Classic Garden Hotel</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Sous chef</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2006 - 2007  </p>
                                    <h6 style="color: #ffffff;"class="mb-0">Taza Resort southern Sudan</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Chef de Partie</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2004 - 2006 </p>
                                    <h6 style="color: #ffffff;"class="mb-0">Chef de Partie</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Cook </h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2003 - 2004  </p>
                                    <h6 style="color: #ffffff;"class="mb-0">Green Corner Restaurant</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Industrial Attachment </h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2002 - 2003 </p>
                                    <h6 style="color: #ffffff;"class="mb-0">Safari Park Hotel</h6>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Certificate in Food Production</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2003 - 2004</p>
                                    <h6 style="color: #987201;"class="mb-0">Kenya utalli college</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Food Production</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2001 - 2002</p>
                                    <h6 style="color: #ffffff;"class="mb-0">Technical Institute</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5 style="color: #987201;">Kenya Certificate of Secondary Education </h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">1995-1998</p>
                                    <h6 style="color: #ffffff;"class="mb-0">Magui Secondary School</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise End -->


    <!-- Service Start -->
    <div class="container-fluid  my-5 py-6" id="service">
        <div  class="bg-dark container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 style="color:#987201" class="display-5 mb-0">My Services</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="tel:+254714548116">Hire Me</a>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-utensils fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary">
                            <h4 class="mb-3">Personal Chef Services</h4>
                            <h6 class="mb-3"></h6>
                            <span>I provide personalized meal preparation and cooking services for individuals or families in their homes.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-utensils fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Catering</h4>
                            <h6 class="mb-3"></h6>
                            <span>Offering catering services for various events such as weddings, parties, corporate events, and more.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-book fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Menu Planning</h4>
                            <h6 class="mb-3"></h6>
                            <span>I Assist  clients in developing customized menus for their special occasions or dietary needs.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-chalkboard-teacher fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Cooking Classes</h4>
                            <h6 class="mb-3"></h6>
                            <span>Conducting cooking classes for individuals or groups, teaching culinary techniques and recipes.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-utensil-spoon fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Private Dining Experiences</h4>
                            <h6 class="text-primary mb-3"></h6>
                            <span>Creating exclusive dining experiences in clients' homes or unique venues, offering a customized menu and high-end service.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-comments fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Culinary Consultation</h4>
                            <h6 class="mb-3"></h6>
                            <span>I offer expert advice on culinary matters, including menu development, kitchen setup, recipe creation, and more.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-book-open fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Recipe Development</h4>
                            <h6 class="mb-3"></h6>
                            <span>Creating original recipes for cookbooks, food blogs, magazines, or product development.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-utensils fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Food Styling and Photography</h4>
                            <h6 class="mb-3"></h6>
                            <span> Assisting with food styling and photography for cookbooks, magazines, websites, or adve</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fas fa-hotel fa-2x text-dark"></i>
                        </div>
                        <div class="text-primary ms-sm-4">
                            <h4 class="mb-3">Restaurant or Hotel Consultation</h4>
                            <h6 class="mb-3"></h6>
                            <span> Providing expertise and guidance to restaurants or hotels in areas such as menu development, kitchen organization, and staff training.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- works Start -->
    <div class="container-xxl py-6 pb-5" id="team">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 style="color:#987201" class="display-5 mb-0">My Work</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="https://wa.link/kxfwrj">Hire Me</a>
                </div>
            </div>
            <div class="row g-4">
                {% for work in works %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="{{work.image.url}}" alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>{{work.name}}</h5>
                                <span class="text-primary">{{work.description}}</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}

                


    <!-- Testimonial Start -->
    <div class="container-fluid bg-dark py-5 my-5" id="testimonial">
        <div class="container-fluid py-5">
            <h1 class="display-5 text-secondary text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">What Clients Say About Me!</h1>
            <div class="row justify-content-center">
                <div class="col-lg-3 d-none d-lg-block">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="./static/img/Kigale logo.png" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Chef Antony's culinary creations are a masterpiece on the taste buds. Exquisite flavors that leave you craving for more!</p>
                            <hr class="w-25 mx-auto">
                            <h5 class="text-primary">Otieno Maurice</h5>
                            <span>Manager Allure Lounge</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="./static/img/Kigale logo.png" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Chef Antony's expertise shines through each dish. A true culinary genius who transforms ingredients into pure culinary magic.</p>
                            <hr class="w-25 mx-auto">
                            <h5 class="text-primary">Mwove Felix</h5>
                            <span>Manager AL</span>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Contact Start -->
    <div class=" bg-dark pb-5" id="contact">
        <div class="container py-5">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 text-secondary mb-0">Let Me Impress You!</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a target="_blank" class="btn btn-primary py-3 px-5" href="https://wa.link/kxfwrj">Say Hello</a>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="text-primary mb-2">My office:</p>
                    <h3 class="text-light fw-bold">Kiambu Road, Nairobi, Kenya</h3>
                    <hr class="w-100">
                    <p class="text-primary mb-2">Call me:</p>
                    <h3 class="text-light  fw-bold">+254714548116</h3>
                    <hr class="w-100">
                    <p class="text-primary mb-2">Mail me:</p>
                    <h3 class="text-light  fw-bold">tonykigsaka@gmail.com</h3>
                    <hr class="w-100">
                    <p class="mb-2 text-primary">Follow me:</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4">Send me an email for inquiries. I look forward to being of help to you soon!
                    <form method="post" autocomplete="off" action="{% url 'contactsendmail' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="extra_field" placeholder="Your Name">
                                    <label for="name" class="text-dark">Your Phone</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="fromemail" placeholder="Your Email">
                                    <label for="email" class="text-dark">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                    <label for="subject" class="text-dark">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" name="message" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message" class="text-dark">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" value="Submit" type="submit">Send Mail</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <div class="floating-buttons">
        <a target="_blank" class="whatsapp" href="https://wa.link/kxfwrj"><i class="fab fa-whatsapp"></i></a>
        <a target="_blank" class="twitter" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        <a target="_blank" class="tiktok" href="https://www.tiktok.com"><i class="fab fa-message"></i></a>
        <a target="_blank" class="instagram" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a target="_blank" class="youtube" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
      </div>

      <style>
        /* Style for the floating buttons */
        .floating-buttons {
          position: fixed;
          left: 10px; /* Adjust the distance from the left side */
          top: 81%; /* Adjust the initial vertical position */
          transform: translateY(-50%);
          z-index: 9999;
        }
        
        /* Style for individual buttons */
        .floating-buttons a {
          display: block;
          margin-bottom: 10px; /* Adjust the vertical spacing between buttons */
          width: 40px;
          height: 40px;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          color: #ffffff;
        }
        
        /* Styling for each button (you can customize as needed) */
        .floating-buttons .whatsapp {
          background-color: #25D366;
        }
        
        .floating-buttons .twitter {
          background-color: #1DA1F2;
        }
        
        .floating-buttons .tiktok {
          background-color: #7e30ae;
        }
        
        .floating-buttons .instagram {
          background-color: #E4405F;
        }
        
        .floating-buttons .youtube {
          background-color: #FF0000;
        }
      </style>
    </head>
    <body>
      <div class="floating-buttons">
        <a class="whatsapp" href="https://web.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
        <a class="twitter" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        <a class="instagram" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a class="youtube" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
        <a class="tiktok" href="https://www.tiktok.com"><i class="fab fa-instagram"></i></a>
      </div>
      
    
   
    

    <!-- Copyright Start -->
    <div class="container-fluid bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom text-secondary" href="https://www.buniwacreations.co.ke">Buniwa Creations</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                  
                    <a class="border-bottom text-secondary" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/typed/typed.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>